@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.bgn {
	background-image: url("../assets/home/desktop/image-speaker-zx7.jpg");
	background-position: right;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 12px;
}

body {
}
